@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import 'variables-dark';
@import 'blockquotes';
@import 'code';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import 'report';
@import 'technologies-dark';
@import 'technology';
@import 'gallery';

//body-----------------------------------------
body {
    background-color: $background-color;
    display: $display;
    flex-direction: $flex-direction;
}

html,
body {
    height: $height;
}

//main------------------------------------------
.main {
    flex: $flex;
    margin: $margin-alternative;
    max-width: $max-width-alternative1;
    padding-left: $padding-left;
    padding-right: $padding-right;
    //display: $display-alternative;
}

//*----------------------------------------------
* {
    color: $font-color;
    font-family: 'Roboto', sans-serif;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
    //margin: $margin;
    box-sizing: $box-sizing;
    border: $border;
    padding: $padding;
}

//p----------------------------------------------
p {
    font-size: $font-size-alternative;
}

//headlines--------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

//images----------------------------------------
img {
    //max-width: $max-width-alternative;
    filter: $filter;
}

.me {
    max-width: $max-width;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    filter: $filter;
}

.myText {
    display: $display-alternative5;
    flex-wrap: $flex-wrap-alternative5;
    flex-direction: $flex-direction-alternative5;
}

.myColumn {
    flex: $flex-alternative5;
    max-width: $max-width-alternative5;
    margin: $margin-alternative5;
}

@media screen and (max-width: 960px) {
    .myColumn {
        flex: 100%;
        max-width: 100%;
    }
}

// Footer------------------------------------------
.header,
.footer {
    flex: $flex-alternative;
}

.footer {
    display: $display;
    justify-content: $justify-content;
    border-top: $border-top;
    background-color: $background-color;
}

.footer a {
    color: $color;
    text-decoration: $text-decoration;
}

.footer .social {
    font-size: $font-size;
}

//Header ------------------------------------

.header,
.site-header {
    display: $display;
    justify-content: $justify-content;
    background-color: $background-alternative-color;
}

.nav a {
    color: $color3;
    font-size: $font-size-alternative3;
}

//media-------------------------------------------
@media (min-width: $min-width) {
    html {
        font-size: $font-size-alternative1;
    }
}

.calc {
    max-height: $max-height-alternative3;
    height: $height-alternative3;
    max-width: $max-width-alternative3;
    width: $width-alternative3;
    border: $border-alternative3;
    filter: $filter;
}
