
//colors
$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #a375df;
$background-alternative-color: #fff;


//body

$display: flex;
$flex-direction: column;
$height: 100%;


//*

$letter-spacing: 1px;
$line-height: 1.5rem;
$box-sizing: border-box;
$border: 0 none;
$margin: 1;
$padding: 0;

//main
$flex: 1 0 auto;
$margin-alternative: 15px auto;


//img
$max-width-alternative: 100%;



//me
$max-width: 25%;
$margin-top: 50px;
$margin-bottom: 50px;



//footer
$display: flex;
$justify-content: space-between;
$border-top: 1px solid #222;
$color: #222;
$text-decoration: none;
$font-size: 2rem;
$flex-alternative: 0 0 auto;

//header

$display: flex;
$justify-content: space-between;
