
//colors
$font-color: #ececec;
$font-alternative-color: #f6f5d4;
$accent-color: #d4cab6;
$background-color: #363636;
$background-alternative-color: #626262;
$background-alternative-color2: #6788a3;

//nav
$color3: #fff;
$font-size-alternative3: larger;

//footer
$display: flex;
$justify-content: space-between;
$border-top: 1px solid #222;
$color: #222;
$text-decoration: none;
$font-size: 2rem;
$flex-alternative: 0 0 auto;

//header
$display: flex;
$justify-content: space-between;

//img
$max-width-alternative: 70%;
//$filter1: invert(1);

//me
$max-width: 25%;
$margin-top: 50px;
$margin-bottom: 50px;
$filter: brightness(0.75);

//media
$min-width: 64em;
$font-size-alternative1: 112.5%;

//body
$display: flex;
$flex-direction: column;
$height: 100%;


//*
$letter-spacing: 1px;
$line-height: 1.5rem;
$box-sizing: border-box;
$border: 0 none;
$margin: 1;
$padding: 0;

//main
$flex: 1 0 auto;
$margin-alternative: 15px auto;
$max-width-alternative1: 67rem;
$padding-left: 1.5rem;
$padding-right: 1.5rem;
$display-alternative: grid;

//p
$font-size-alternative: 1em;

//calc
$max-height-alternative3: 100%;
$height-alternative3: 550px;
$max-width-alternative3: 100%;
$width-alternative3: 1400px;
$border-alternative3: 1px solid #000;

//myText
$display-alternative5: flex;
$flex-wrap-alternative5: wrap;
$flex-direction-alternative5: row-reverse;


//myColumn
$flex-alternative5: 47%;
$max-width-alternative5: 50%;
$margin-alternative5: 15px;
